@inherits ProductCategoriesNavMenuBase

@if(ProductCategories == null && ErrorMessage == null)
{
    <DisplaySpinner/>
}
else if(ErrorMessage != null)
{
    <DisplayError ErrorMessage = "@ErrorMessage"/>
}
else
{
    if(ProductCategories != null)
    {
        @foreach(var productCategory in ProductCategories)
        {
            var link = "/ProductsByCategory/" + productCategory.Id;
            
            <div class = "nav-item px-3">
                <NavLink class="nav-link" href="@link">
                    <span class="@productCategory.IconCSS"></span>&nbsp;@productCategory.Name
                </NavLink>
            </div>
        }
    }
}